# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Node
node_modules/
dist/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# MongoDB
mongo_data/